body {
    margin: 0;
    padding: 0;
    background: rgb(34, 139, 34); /* Cambiado a un tono verde oscuro */
    background-image: 
        radial-gradient(37.88% 68.62% at 50% 0, #1f4d32b3, #0a1f1900 10%), /* Degradado en tonos verdes */
        radial-gradient(10% 10% at 10% 10%, #2ecc71a1, #1b3f4666 0%, #135a1f00), /* Tonos de verde claro */
        radial-gradient(100% 28.09% at 100% 10%, #2a393e33, #007c762a 80%, #007c0000), /* Verde oscuro y turquesa */
        linear-gradient(180deg, #00640013 35.79%, #005d4d0d 100%, #14322b 80%), /* Verde bosque y verde pino */
        radial-gradient(74.84% 135.56% at 100% 10%, #0a533d76, #102f1b 90%); /* Verde esmeralda y verde oscuro */
    font-family: Arial, Helvetica, sans-serif;
}
